.btn {
  max-height: 40px;
  align-self: end;
}

.btn-primary {
  padding: 10px 30px;
  margin: 0 5px;
  color: var(--white-color);
  background: var(--main-color);
}

.btn-primary:disabled {
  background: var(--grey-disabled);
  cursor: auto;
}

.btn-secondary {
  color: var(--black-color);
  background: var(--light-color);
}

.btn-icon {
  display: flex;
  align-items: center;
  margin: 0 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.btn-icon img {
  width: 35px;
}
