.card__container {
  width: 100%;
  padding: 0;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(332px, 1fr));
  min-height: 4rem;
}

.card {
  max-width: 332px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 7px;
  margin: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
  border-radius: 20px;
  box-sizing: border-box;
}

.card img {
  margin: 0 auto;
  border-radius: 20px 20px 0 0;
}

.card:focus-within {
  box-shadow: 0 0 0 0.2em var(--main-color);


}

.card__link {
  margin: 10px 0;
}

.events__content {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.events__loader {
  width: 100%;
}

.events__loader--pending {
  position: absolute;
  width: calc(100% + 20px);
  height: calc(100% + 10px);
  display: flex;
  top: -10px;
  left: -10px;
  background: var(--white-color);
  opacity: 0.9;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  z-index: 1;
}

.events__loader--done {
  margin-bottom: 1em;
}

@media only screen and (max-width: 800px) {
  .card__container  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
