.carousel {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  margin: 10px auto;

  --height: 500px;
  --arrow-slides-gap: 200px;
  --arrow-size: 50px;
}

.carousel__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carousel__slide-container {
  width: calc(100% - var(--arrow-slides-gap));
  overflow: hidden;
  position: relative;
  padding-top: var(--height);
  overflow: hidden;
}

.carousel__slide {
  background-size: cover;
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: var(--height);
  visibility: hidden;
  transition: left .6s ease-out;
  z-index: 1;
}

.carousel__slide--active {
  left: 0;
}

.carousel__slide--active,
.carousel__slide--prev.in-transition,
.carousel__slide--next.in-transition {
  visibility: visible;
}

.carousel__slide--next {
  left: 100%;
}

.carousel__slide--prev {
  left: -100%;
}

.carousel__arrow-btn {
  border: none;
  background: none;
  width: var(--arrow-size);
  height: var(--arrow-size);
  box-sizing: border-box;
  
  cursor: pointer;
}

.carousel__arrow-btn--prev {
  border-top: 5px solid var(--black-color);
  border-left: 5px solid var(--black-color);
  transform: rotate(-45deg);
  transform-origin: top left;
}

.carousel__arrow-btn--next {
  border-top: 5px solid var(--black-color);
  border-right: 5px solid var(--black-color);
  transform: rotate(45deg);
  transform-origin: top right;
}

.carousel__action-btn {
  position: absolute;
  left: 2em;
  bottom: 3em;
}

.carousel__nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__nav-control-btn,
.carousel__nav-btn {
  margin-right: 1em;
  border: none;
  border-radius: 8px;
  padding: 0.5em 1em;
  cursor: pointer;
  background-color: var(--light-color);
}

.carousel__nav-control-btn {
}

.carousel__nav-btn--active {
  color: var(--white-color);
  background-color: var(--main-color);
  cursor: auto;
}

.in-transition {
  transition: left .6s ease-out;
}

@media only screen and (max-width: 800px) {
  .carousel {
    --height: 200px;
    --arrow-slides-gap: 100px;
    --arrow-size: 25px;
  }
}
