footer {
  width: 100%;
  background-color: var(--grey-light-bg-footer);
  padding: 20px 10px;
  box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
  footer {
    display: flex;
    flex-wrap: wrap;
  }
}
