.login-form-label, .login-form-input {
  font-size: 16px;
}

.login-form-label {
  margin-bottom: 10px;
}

.login-form-input {
  border-radius: 3px;
  border: 1px solid var(--grey-light-border);
  background: var(--grey-light-bg);
  padding: 10px;
  margin-bottom: 15px;
}

.login-form-btn {
  width: 100%;
  margin: 20px 0;
}
