.input {
  display: flex;
  flex-wrap: wrap;
}

.input span, .input input {
  flex-basis: 100%;
}

.input span {
  margin-bottom: 0.5em;
}

.form__label,
.form__input,
.material-input {
  font-size: 16px;
}

.login-form-label {
  margin-bottom: 10px;
}

.form__input {
  border-radius: 3px;
  border: 1px solid var(--grey-light-border);
  background: var(--grey-light-bg);
  padding: 10px;
  margin-bottom: 15px;
}

.form__btn {
  width: 100%;
  margin: 20px 0;
}

.material-input {
  background: none;
  border: none;
  border-bottom: 1px solid var(--black-color);
  padding: 8px;
}
