header {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}

.header {
  width: inherit;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  justify-content: space-between;
}

.header__logo {
  padding: 10px 0;
}

.header__controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 50%;
}

.header__search {
  position: relative;
}

.header__search-input {
  margin: 0 10px;
  padding: 10px;
  padding-right: 25px;
  border-radius: 8px;
  border: 1px solid var(--grey-light-border);
  background: var(--grey-light-bg);
}

.header__search-icon {
  position: absolute;
  right: 15px;
  top: 25%;
}

.header__nav-list {
  display: flex;
  flex-basis: 100%;
}

.header__nav-item {
  padding-right: 2rem;
}

.navigation-link-container a {
  color: var(--black-color);
}

@media only screen and (max-width: 800px) {
  .header__controls {
    flex-basis: 100%;
    justify-content: center;
  }

  .header__logo {
    margin: 0 auto;
  }

  .header__nav-list {
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 400px) {
  .header__search {
    flex-basis: 100%;
    margin-bottom: 10px;
  }
  
  .header__search-input {
    margin: 0;
    width: 100%;
  }
}
