.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  margin-right: 10px;
  border-radius: 50%;
}

a.btn-primary {
  color: var(--white-color);
  text-decoration: none;
}
