main {
  z-index: 1;
}

.modal {
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

.modal-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black-color);
  opacity: 0.5;
  z-index: 100;
}

.modal-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 100px;
  display: flex;
  align-content: space-around;
  flex: 1;
  flex-wrap: wrap;
  background-color: var(--white-color);
  opacity: 1;
  z-index: 101;
  border-radius: 8px;
}
