.search {
  position: relative;
}

.search__input {
  margin: 0 10px;
  padding: 10px;
  padding-right: 25px;
  border-radius: 8px;
  border: 1px solid var(--grey-light-border);
  background: var(--grey-light-bg);
}

.search__icon {
  position: absolute;
  right: 15px;
  top: 25%;
}

.search__icon img {
  border-radius: 8px;
}

.search__icon input:focus + img {
  outline: none;
  box-shadow: 0 0 0 0.2em var(--main-color);
}

@media only screen and (max-width: 400px) {
  .search {
    flex-basis: 100%;
    margin-bottom: 10px;
  }
  
  .search__input {
    margin: 0;
    width: 100%;
  }
}
