.slider {
  position: relative;
  width: 100%;
  margin: 10px 0;
}

.slide {
  overflow: hidden;
  width: 100%;
  height: 450px;
}

.slide img {
  width: inherit;
}

.slider-arrow-btn {
  position: absolute;
  top: calc(50% - 25px);
  border: none;
  background: none;
  width: 50px;
  height: 50px;
  border-left: 5px solid var(--black-color);
  border-top: 5px solid var(--black-color);
  cursor: pointer;
}

.slider-arrow-btn--left {
  transform: rotate(-45deg);
  left: -40px;
}

.slider-arrow-btn--right {
  transform: rotate(135deg);
  right: -40px;
}

.slider-action-btn {
  position: absolute;
  left: 5%;
  bottom: 15%;
}
