:root {
  --main-color: #5D16D5;
  --light-color: #C7D2E9;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --grey-light-border: #C7D2E9;
  --grey-light-bg: #F9F9FB;
  --grey-light-bg-footer: #F1F1F1;
  --grey-disabled-color: #868686;
  --grey-disabled-bg: #dbdbdb;
  --grey-disabled-border-color: #bbbbbb;
  --error-color: #E31C3D;
}

body {
  padding: 0;
  margin: 0 auto;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

fieldset {
  border: none;
}

a {
  color: var(--main-color);
}

a:visited {
  color: #2e1f49;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.full-width {
  width: 100%;
}

.content-section {
  padding: 0 10px;
  margin-bottom: 4rem;
}

.btn, .tab {
  border-radius: 8px;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.no-underline {
  text-decoration: none ;
}

#skipToMain {
  top: -100px;
  left: 40% ;
  position: absolute;
  transition: top 0.2s;
}

#skipToMain:focus {
  top: 10px;
}

.filter {
  margin-bottom: 10px;
}

@media only screen and (max-width: 800px) {
  .content-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .content-section h2 {
    flex-basis: 100%;
    text-align: center;
  }

  .filter {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
  }
  
  .actions {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .actions button {
    margin-bottom: 10px;
  }

  .col-2 {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 400px) {
  .actions button {
    flex-basis: 100%;
  }
}
