:root {
  --main-color: #5D16D5;
  --light-color: #C7D2E9;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --grey-light-border: #C7D2E9;
  --grey-light-bg: #F9F9FB;
  --grey-light-bg-footer: #F1F1F1;
  --grey-disabled: #b3b3b3;
}

body {
  padding: 0;
  margin: 0 auto;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

fieldset {
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.col-3 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 1em;
}

.full-width {
  width: 100%;
}

.content-section {
  margin-bottom: 4rem;
}

.btn, .tab {
  border-radius: 8px;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.visible {
  display: '';
}

.non-visible {
  display: none;
}

.no-underline {
  text-decoration: none ;
}

#skip-to-main {
  top: -100px;
  left: 40% ;
  position: absolute;
  transition: top 0.2s;
}

#skip-to-main:focus {
  top: 10px;
}
