.tablist {
  margin-bottom: 1rem;
}

.tab {
  border: none;
  background: none;
  text-decoration: underline;
}

.tab--active {
  cursor: auto;
  color: var(--black-color);
  background: var(--light-color);
  text-decoration: none;
}

@media only screen and (max-width: 800px) {
  .tablist {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
  }
}
